img:hover {
  border: black 1px;

}
body {
font-family: 'Spartan', sans-serif;
line-height:2.3em;
}
.navbar {
/* overflow: hidden; */
background-color: white;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
/* position: relative; */
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
/* position:static; */
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
/* position: relative; */
/* top: 50%; */
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
/* Links inside the navbar */
.navbar a {
float: left;
display: block;
color: black;
text-align: center;
padding-top: 2em;
padding-bottom: 1.7em;
padding-left: 2.5em;
text-decoration: none;
font-family: 'Rubik', sans-serif;
}
#logo {
margin-top: 0em;
margin-right: 14em;
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
object-fit: fill;
background: url('loading.gif') center no-repeat white;
}

/* Change background on mouse-over */
.navbar a:hover {
background: white;
color: #a1a4ff;
}

/* Main content */
.main {
margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.donate {
border: 1px solid black;
background-color: white;
font-family: 'Lato', sans-serif;
color: black;
padding: 0.7em;
font-size: 16px;
cursor: pointer;
}

h1, h2, h3, h4, h5, p {
font-family: 'Lato', sans-serif;
text-decoration: none;
}

.parallax {
/* The image used */
background-image: url("welcome-2021.png");
/* object-fit: cover;; */
/* Set a specific height */
/* width: 100%;
min-*/
height: 32em;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size:auto;
}

.header {
width: 100%;
height:auto;
}
footer {
padding-left: 3em;
padding-right: 3em;
background-color: #D2D3FF;
}

table {
/* background: #D8D9FF;
background: -webkit-linear-gradient(left, #D8D9FF, #F6F2FF);
background: -moz-linear-gradient(left, #D8D9FF, #F6F2FF);
background: linear-gradient(to right, #D8D9FF, #F6F2FF); */
}
h1 {
font-family: 'Rubik', sans-serif;
}
.front {
width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding-top: 10em;
}

.highlight {
background-color:#a1a4ff;
}

button {
background-color: #a1a4ff;
/* background-image: linear-gradient(to right, #cecfff, #c3c4ff, #b8b9ff, #acafff, #a1a4ff); */
font-family: 'Rubik', sans-serif;
}


